@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="block">
        <p class="header">My task list</p>
        <table>
            <tr>
                <td></td>
                <td></td>

                <td class="want-to">
                    <form method="post" action="Task/Insert">
                        <input type="text" id="Name" name="Name" placeholder="I want to...">
                    </form>
                </td>

            </tr>

            @foreach (var t in ViewBag.Tasks)
            {
                <tr class="bottom-border">
                    <td></td>

                    @if (@t.IsCompleted)
                {
                        <td class="right-border">
                            <form method="post" action="Task/Update" id="form+@t.Id">
                                <input hidden name="id" value="@t.Id">
                                <input class="regular-checkbox" id="checkbox+@t.Id" name="isCompleted" value="true" type="checkbox" onclick="update(@t.Id)" checked>
                                <label for="checkbox+@t.Id"></label>
                            </form>
                        </td>
                        <td><strike>@t.Name</strike></td>
                    }
                    else
                    {
                        <td class="right-border">
                            <form method="post" action="Task/Update" id="form+@t.Id">
                                <input hidden name="id" value="@t.Id">
                                <input class="regular-checkbox" id="checkbox+@t.Id" name="isCompleted" value="false" type="checkbox" onclick="update(@t.Id)">
                                <label for="checkbox+@t.Id"></label>
                            </form>
                        </td>
                        <td>@t.Name</td>
                    }


                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td>
                    <p id="remaining">@ViewBag.Count task(s) remaining</p>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>